<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome in Y-Library</h1>
        <p class="lead">This is a simple E-Library project developed by Yuri Demydko as EPAM summer practice project.</p>
    </div>
</div>