@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="jumbotron" class="alert alert-light">
    <h1 class="display-4 text-danger">Error</h1>
    <p class="lead">An error occurred while processing your request. Sometimes that happens. It is student's project, by the way. Maybe, MS Azure trial plan's performance caused the problem. Please, retry your request.</p>
    <hr class="my-4">
    @if (Model.ShowRequestId)
    {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
    <p class="lead">
        <a class="btn btn-outline-secondary btn-lg" asp-controller="Home" asp-action="Index" role="button">To the Home Page</a>
    </p>
</div>